{% load i18n %}

{% for product in products %}
    <div class="w-96 h-[594px] bg-white rounded-2xl shadow border border-gray-200 flex flex-col justify-start items-start">
      <div class="self-stretch px-8 pt-8 gap-6 flex flex-col justify-start items-start">
        <div class="self-stretch gap-4 flex flex-col justify-start items-center">
          <div class="w-12 h-12 p-3 rounded-[10px] shadow border border-gray-200 flex justify-center items-center">
            <div class="w-6 h-6 relative"></div>
          </div>
          <div class="self-stretch text-center text-green-700 text-xl font-semibold font-sans leading-[30px]">{{ product.name }}</div>
          <div class="flex flex-row items-end">
            {% for plan in product.plan_set.all %}
              <div class="self-stretch text-center text-gray-900 text-3xl font-semibold font-sans leading-[60px]" x-show="!yearPlan && '{{ plan.interval }}' === 'month'">{{ plan.human_readable_price }}</div>
              <div class="self-stretch text-center text-gray-900 text-3xl font-semibold font-sans leading-[60px]" x-show="yearPlan && '{{ plan.interval }}' === 'year'">{{ plan.human_readable_price }}</div>
            {% endfor %}
          </div>
          <div class="self-stretch text-center text-slate-600 text-base font-normal font-sans leading-normal" x-show="yearPlan">Billed annually.</div>
        </div>
      </div>
      <div class="self-stretch h-64 px-8 pt-8 pb-10 gap-6 flex flex-col justify-start items-start">
        {% comment %} <div class="self-stretch gap-4 flex flex-col justify-start items-start"> TODO not possible for now WAIT FOR DJSTRIPE 3.0
          {% for feature in product.plan_set.all.first.features %}
            <div class="self-stretch gap-3 flex items-start text-slate-600">
              <div class="w-6 h-6 relative bg-green-50 rounded-full">{{ feature.name }}</div>
              <div class="flex-grow flex-shrink-0 flex-basis-0 flex-col justify-start items-start">
                <div class="self-stretch text-slate-600 text-base font-normal font-sans leading-normal truncate"></div>
              </div>
            </div>
            {% endfor %}
        </div> {% endcomment %}
      </div>
      <div class="self-stretch h-28 p-8 bg-gray-50 border-t border-gray-200 flex flex-col justify-start items-start gap-6">
        <div class="self-stretch h-12 flex flex-col justify-start items-start gap-3" x-data="{sessionId: null}">
          {% url "dashboard_billing" as billing_url %}
          {% for plan in product.plan_set.all %}
            <a
                href="{{ billing_url }}?plan_id={{ plan.id }}"
                x-show="yearPlan && '{{ plan.interval }}' == 'year'"
                class="self-stretch px-[18px] py-3 bg-green-500 hover:bg-green-400 rounded-lg shadow border border-green-500 hover:border-green-400 transition flex justify-center items-center gap-1.5">
                <div class="px-0.5 flex justify-center items-center">
                    <div class="text-white text-base font-semibold font-sans leading-normal">{% trans "Get started" %}</div>
                </div>
            </a>
            <a
                href="{{ billing_url }}?plan_id={{ plan.id }}"
                x-show="!yearPlan && '{{ plan.interval }}' == 'month'"
                class="self-stretch px-[18px] py-3 bg-green-500 hover:bg-green-400 rounded-lg shadow border border-green-500 hover:border-green-400 transition flex justify-center items-center gap-1.5">
                <div class="px-0.5 flex justify-center items-center">
                    <div class="text-white text-base font-semibold font-sans leading-normal">{% trans "Get started" %}</div>
                </div>
            </a>
        {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}