{% load i18n %}

<div class="w-[287px] h-14 p-1.5 bg-gray-50 rounded-lg border border-gray-200 justify-start items-center gap-2 inline-flex">
  <div class="w-[138px] px-3 py-2 rounded-md justify-center items-center gap-2 flex cursor-pointer hover:bg-white transition" @click="yearPlan = false" :class="{'bg-white shadow': !yearPlan}">
    <div class="text-slate-700 text-base font-semibold font-sans leading-normal transition" :class="{'text-gray-500': yearPlan, 'text-slate-700': !yearPlan}">{% trans "Monthly billing" %}</div>
  </div>
  <div class="w-[129px] px-3 py-2 rounded-md justify-center items-center gap-2 flex cursor-pointer hover:bg-white transition" @click="yearPlan = true" :class="{'bg-white shadow': yearPlan}">
    <div class="text-gray-500 text-base font-semibold font-sans leading-normal transition" :class="{'text-gray-500': !yearPlan, 'text-slate-700': yearPlan}">{% trans "Annual billing" %}</div>
  </div>
</div>