{% include 'layouts/dashboard_base.html' %}
{% load allauth i18n %}
{% block content %}
  {% include "snippets/logout_modal.html" %}
  {% if email_verified %}
    <div class="p-6 absolute">
        <div class="pl-1 pr-2.5 py-1 bg-yellow-50 rounded-full border border-yellow-200 justify-start items-center gap-2 inline-flex">
            <div class="px-2 py-0.5 bg-white rounded-full border border-yellow-200 justify-start items-center flex">
                <div class="text-center text-green-700 text-xs font-medium font-sans leading-[18px]">{% trans "Note" %}</div>
            </div>
            <div class="justify-start items-center gap-1 flex px-2">
                <div class="text-yellow-700 text-xs font-medium font-sans leading-[18px]">{% trans "Your account is not verified!" %}</div>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}
