{% extends 'layouts/simple_base.html' %}
{% load i18n %}
{% load static %}
{% load allauth account socialaccount %}
{% block head_title %}
  {% trans 'Dealscan.io - Password Reset' %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    {% include 'allauth/account/snippets/already_logged_in.html' %}
  {% endif %}
  <div class="w-full min-h-screen max-h-screen pt-24 pb-12 bg-white flex-col justify-start items-center gap-8 inline-flex">
    <div class="self-stretch px-8 flex-col justify-start items-center gap-8 flex">
      <div class="flex-col justify-start items-center gap-8 flex lg:w-1/4">
        <div class="self-stretch flex-col justify-start items-center gap-6 flex">
          <div class="w-14 h-14 p-3.5 rounded-xl shadow border border-gray-200 justify-center items-center inline-flex">
            <img src="{% static 'images/logo.png' %}" class="w-7 h-7 relative flex-col justify-start items-start flex" />
          </div>
          <div class="self-stretch h-[74px] flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-gray-900 text-3xl font-semibold font-sans leading-[38px]">
              {% trans 'Forgot password?' %}
            </div>
            <div class="self-stretch text-center text-slate-600 text-base font-normal font-sans leading-normal">
              {% trans 'No worries, we’ll send you reset instructions.' %}
            </div>
          </div>
        </div>
        {% url 'account_reset_password' as reset_url %}
        {% url 'account_login' as login_url %}
        <form class="self-stretch h-[138px] rounded-xl flex-col justify-start items-center gap-6 flex" action="{{ reset_url }}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
            <ul>
              {% for error in form.non_field_errors %}
                <li class="text-red-500 text-sm">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <div class="self-stretch h-[70px] flex-col justify-start items-start gap-5 flex">
            <div class="self-stretch h-[70px] flex-col justify-start items-start gap-1.5 flex">
              <div class="text-slate-700 text-sm font-medium font-sans leading-tight">
                {{ form.email.label_tag }}
              </div>
              {{ form.email }}
            </div>
          </div>
          <button type="submit" class="self-stretch px-4 py-2.5 bg-green-500 rounded-lg shadow border border-green-500 gap-1.5 justify-center items-center flex text-white text-base font-semibold font-sans leading-normal">{% trans 'Reset password' %}</button>
        </form>
        {% url 'account_login' as login_url %}
        <a href="{{ login_url }}" class="justify-center items-center gap-1.5 inline-flex">
          <div class="w-5 h-5 relative items-center flex">
            <span class="material-symbols-outlined text-slate-600" style="font-size: 18px;">
                arrow_back
            </span>
          </div>
          <span class="text-slate-600 text-sm font-semibold font-sans leading-tight">{% trans 'Back to log in' %}</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
