{% extends 'layouts/simple_base.html' %}
{% load allauth %}
{% load static %}
{% block content %}
  <div class="w-full min-h-screen max-h-screen pt-24 pb-12 bg-white flex-col justify-start items-center gap-8 inline-flex">
    <div class="px-8 flex-col justify-start items-center gap-8 flex">
      <div class="self-stretch flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch flex-col justify-start items-center gap-6 flex">
          <div class="w-14 h-14 p-3.5 rounded-xl shadow border border-gray-200 justify-center items-center inline-flex">
            <img src="{% static 'images/logo.png' %}" class="w-7 h-7 relative flex-col justify-start items-start flex" />
          </div>
          <div class="self-stretch h-[98px] flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-gray-900 text-3xl font-semibold font-sans leading-[38px]">Set new password</div>
            <div class="self-stretch text-center text-slate-600 text-base font-normal font-sans leading-normal">Your new password must be different to previously used passwords.</div>
          </div>
        </div>
        {% if token_fail %}
          <div class="flex flex-col justify-center gap-2 w-full">
            <span class="text-3xl flex self-center">{% trans 'Bad Token' %}</span>
            {% url 'account_reset_password' as passwd_reset_url %}
            <span class="text-lg flex">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</span>
          </div>
        {% else %}
          <form action="{{ action_url }}" method="post" class="self-stretch rounded-xl flex-col justify-start items-center gap-6 flex">
            {% csrf_token %}
            <div class="self-stretch flex-col justify-start items-start gap-5 flex">
              <div class="self-stretch flex-col justify-start items-start gap-1.5 flex">
                <div class="self-stretch h-[70px] flex-col justify-start items-start gap-1.5 flex">
                  <div class="text-slate-700 text-sm font-medium font-sans leading-tight">{{ form.password1.label }}</div>
                  {{ form.password1 }}
                </div>
                <span class="text-sm text-red-500">{{ form.password1.errors }}</span>
              </div>
              <div class="self-stretch flex-col justify-start items-start gap-1.5 flex">
                <div class="self-stretch h-[70px] flex-col justify-start items-start gap-1.5 flex">
                  <div class="text-slate-700 text-sm font-medium font-sans leading-tight">{{ form.password2.label }}</div>
                  {{ form.password2 }}
                </div>
                <span class="text-sm text-red-500">{{ form.password2.errors }}</span>
              </div>
            </div>
            <button type="submit" name="action" class="self-stretch px-4 py-2.5 bg-green-500 hover:bg-green-600 transition rounded-lg shadow justify-center items-center gap-1.5 inline-flex">
              <div class="px-0.5 justify-center items-center flex">
                <div class="text-white text-base font-semibold font-sans leading-normal">Reset password</div>
              </div>
            </button>
          </form>
        {% endif %}
        {% url 'account_login' as login_url %}
        <a href="{{ login_url }}" class="justify-center items-center gap-1.5 inline-flex">
          <div class="w-5 h-5 relative items-center flex">
            <span class="material-symbols-outlined text-slate-600" style="font-size: 18px;">arrow_back</span>
          </div>
          <span class="text-slate-600 text-sm font-semibold font-sans leading-tight">{% trans 'Back to log in' %}</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
