{% extends 'layouts/simple_base.html' %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block content %}
  <div class="w-full min-h-screen max-h-screen pt-24 pb-12 bg-white flex-col justify-start items-center gap-8 inline-flex">
    <div class="self-stretch px-8 flex-col justify-start items-center gap-8 flex">
      <div class="flex-col justify-start items-center gap-8 flex">
        <div class="self-stretch flex-col justify-start items-center gap-6 flex">
          <div class="w-14 h-14 p-3.5 rounded-xl shadow border border-gray-200 justify-center items-center inline-flex">
            <img src="{% static 'images/logo.png' %}" class="w-7 h-7 relative flex-col justify-start items-start flex" />
          </div>
          <div class="self-stretch h-[98px] flex-col justify-start items-start gap-3 flex">
            <div class="self-stretch text-center text-gray-900 text-3xl font-semibold font-sans leading-[38px]">Password reset</div>
            <div class="self-stretch text-center text-slate-600 text-base font-normal font-sans leading-normal">Your password has been successfully reset. Click below to log in magically.</div>
          </div>
        </div>
        {% url "dashboard" as dashboard_url %}
        <a href="{{ dashboard_url }}" class="self-stretch px-4 py-2.5 bg-green-500 hover:bg-green-600 transition rounded-lg shadow justify-center items-center gap-1.5 inline-flex">
          <div class="px-0.5 justify-center items-center flex">
            <div class="text-white text-base font-semibold font-sans leading-normal">Continue</div>
          </div>
        </a>
        {% url 'account_login' as login_url %}
        <a href="{{ login_url }}" class="justify-center items-center gap-1.5 inline-flex">
          <div class="w-5 h-5 relative items-center flex">
            <span class="material-symbols-outlined text-slate-600" style="font-size: 18px;">arrow_back</span>
          </div>
          <span class="text-slate-600 text-sm font-semibold font-sans leading-tight">{% trans 'Back to log in' %}</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
