{% url 'account_logout' as action_url %}
<div x-show="logoutModalOpen">
  <div class="fixed top-0 left-0 w-screen h-screen bg-opacity-50 bg-black z-50 backdrop-blur-sm"></div>
  <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50">
    <div class="bg-white rounded-xl shadow flex-col justify-start items-center inline-flex">
      <div class="self-stretch h-24 flex-col justify-start items-center flex">
        <div class="self-stretch px-6 pt-6 justify-start items-start gap-4 inline-flex">
          <div class="w-12 h-12 p-3 bg-red-100 rounded-full justify-center items-center flex">
            <div class="w-6 h-6 px-[3px] py-0.5 justify-center items-center inline-flex">
              <span class="material-symbols-outlined text-red-600">logout</span>
            </div>
          </div>
          <div class="grow shrink basis-0 flex-col justify-start items-start gap-1 inline-flex">
            <div class="self-stretch text-gray-900 text-lg font-semibold font-sans leading-7">
              {% trans 'Sign out' %}
            </div>
            <div class="self-stretch text-slate-600 text-sm font-normal font-sans leading-tight">
              {% trans 'Are you sure you want to sign out?' %}
            </div>
          </div>
        </div>
        <div class="w-11 h-11 p-2 rounded-lg justify-center items-center inline-flex">
          <div class="w-6 h-6 p-1.5 justify-center items-center flex"></div>
        </div>
      </div>
      <div class="self-stretch pt-8 flex-col justify-center items-start flex">
        <div class="self-stretch px-6 pb-6 justify-start items-center gap-3 inline-flex">
          <div class="grow shrink basis-0 h-11 justify-end items-center gap-3 flex">
            <button x-on:click="logoutModalOpen = false" class="px-4 py-2.5 bg-white rounded-lg shadow border border-gray-300 justify-center items-center gap-1.5 flex">
              <div class="px-0.5 justify-center items-center flex">
                <div class="text-slate-700 text-base font-semibold font-sans leading-normal">
                  {% trans 'Cancel' %}
                </div>
              </div>
            </button>
            <form action="{{ action_url }}" method="post">
              {% csrf_token %}
              <button type="submit" class="px-4 py-2.5 bg-red-600 rounded-lg shadow border border-red-600 justify-center items-center gap-1.5 flex">
                <div class="px-0.5 justify-center items-center flex">
                  <div class="text-white text-base font-semibold font-sans leading-normal">
                    {% trans 'Logout' %}
                  </div>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
